@model List<ContatoModel>
@{
    ViewData["Title"] = "Listagem de Contatos";
}

@if(TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert" style="text-align:center">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

@if(TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert" style="text-align:center">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}

<br/>

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a class="btn btn-primary btn-lg w-100" role="button"asp-controller="Contato" asp-action="Criar">Adicionar novo contato</a>
    </div>
    <br/>
    <h1 class="display-4">Listagem de contatos</h1>
    @if (Model != null && Model.Any())
    {
        <table class="table" id="table-contatos">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var contato in Model)
                {
                    <tr>
                        <th scope="row">@contato.Id</th>
                        <td>@contato.Nome</td>
                        <td>@contato.Email</td>
                        <td>@contato.Celular</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="ApagarConfirmacao">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Nenhum contato encontrado.</p>
    }
</div>

